<div class="flex-column">
  <h1 class="flex splash-title">Budget App</h1>

  <div class="flex-column splash-links">
    <%= link_to "Log in", new_user_session_path , class: "flex splash-log" %>

    <%= link_to "Sign up", new_user_registration_path, class: "flex splash-sign" %>
  </div>
</div>