<div id="<%= dom_id payment %>" class="card">
  <div class="flex">
    <h3>
      <%= payment.name %>
    </h3>
    <p>
      <strong>$</strong>
      <%= payment.amount %>
    </p>
  </div>

  <p>
    <%= payment.created_at.strftime('%a, %e %b %Y - %H:%M') %>
  </p>
</div>
