/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --primary-main: #3778c2;
  --primary-second: #5fb523;
  --primary-text: #434b54;
  --body-color: #f3f3f3;
  --black: #000;
  --white: #fff;
  --red: rgba(233, 22, 22, 0.836);
  --font-family-main: 'Proxima Nova', sans-serif;
  --font-family-splash: 'Lobster', cursive, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--font-family-main);
  overflow-x: hidden;
}

body {
  background-color: var(--body-color);
}

main {
  padding: 10px 0;
  height: 90vh;
}

li {
  list-style: none;
}

h1 {
  font-size: 1.5rem;
}

p {
  color: var(--primary-text);
}

button {
  width: 100%;
  padding: 2vh 5vw;
  border: none;
  background-color: var(--primary-second);
  color: var(--black);
}

a {
  align-self: center;
  color: var(--black);
}

form input {
  border: none;
  width: 100%;
  padding: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 1px 1px 1px #484849;
  padding: 20px;
  margin-top: 10px;
}

.flex {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.container {
  padding: 0 8vw;
}

.container-y {
  padding-top: 15vh;
}

.navbar {
  background-color: var(--primary-main);
  padding: 0 8vw;
  height: 10vh;
  box-shadow: 0 2px 5px 2px var(--primary-text);
  z-index: 10;
}

.navbar * {
  color: var(--white);
}

.headline {
  font-weight: 700;
}

.general-text {
  font-weight: 300;
}

.log-out-btn,
.destroy-btn {
  background-color: var(--red);
  cursor: pointer;
}

.add-btn {
  width: 100vw;
  padding: 20px;
  justify-content: center;
  background-color: var(--primary-second);
  color: var(--black);
}

.submit-btn {
  padding: 20px;
  background-color: var(--primary-second);
  color: var(--black);
}

.log-in-btn {
  padding: 10px 60px;
  background-color: var(--primary-main);
  color: var(--white);
}

.sign-up-links {
  gap: 0;
}

.card {
  padding: 20px;
  border: 2px solid black;
}

.all-vh {
  height: 100%;
}

.check-box {
  color: var(--black);
}

.check-box-text {
  white-space: nowrap;
  text-size-adjust: auto;
}

.red {
  color: var(--red);
  font-weight: bolder;
}

.side-menu {
  display: none;
  position: fixed;
  top: 10vh;
  left: 0;
  background-color: var(--primary-main);
  color: white;
  height: 90vh;
  width: 40vw;
}

.side-menu * {
  color: var(--white);
}

.user-photo {
  background-color: gray;
  box-shadow: 0 0 5px 5px var(--white);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-top: 5vh;
}

.home-menu {
  display: block;
  cursor: pointer;
}
