<p style="color: green"><%= notice %></p>

<div id="categories" class="flex-column all-vh container-y">
  <div class="flex-column">
    <% @categories.each do |category| %>
      <%= link_to category do %>
        <%= render category %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "New category", new_category_path, class: "add-btn flex" %>
</div>
